* {
    font-family: 'Roboto', sans-serif; 
}


/* NAV BAR */
.fa-1x {
    font-size: 1.5rem;
}
.navbar-toggler.toggler-example {
    cursor: pointer;
}
.dark-blue-text {
    color: #0A38F5;
}
.dark-pink-text {
    color: #AC003A;
}
.dark-amber-text {
    color: #ff6f00;
}
.dark-teal-text {
    color: #004d40;
}   
.navFlex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}   
.wholeflexnav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#navLogo{
}
.navlink{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    width: 100%;
    height: 200px;
}
.navlink:hover{
    text-decoration: none;
    width: 100%;
}


/* HOVER CSS */

/* Rectangle Out */
.hvr-rectangle-out {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    background: #e1e1e1;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .hvr-rectangle-out:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #a80000;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-rectangle-out:hover, .hvr-rectangle-out:focus, .hvr-rectangle-out:active {
    color: white;
  }
  .hvr-rectangle-out:hover:before, .hvr-rectangle-out:focus:before, .hvr-rectangle-out:active:before {
    -webkit-transform: scale(1);
    transform: scale(1);
  }


.center{
    text-align: center;
}
.flexBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logbutton{
    width: 80%;
    padding: 20px 5px;
    max-width: 400px;
    color: white;
}
#loggin:hover{
    cursor: pointer;
}
/* Gradient transparent - color - transparent */

#homepage{
    background-image: url('/public/images/home-page.png');
    background-position: center;
    background-repeat: no-repeat;
    height: 75vh;
    width: 100%;
}
.subnavicons{
    opacity: 0.5;
}
.subnavicons:hover{
    cursor: pointer;
    opacity: 1;
}

.dropdown-menu a{
    font-weight: bold;
    font-size: 18px;
}

.categorybutton{
    padding: 10px 0;
    margin-bottom: 20px;
}
.hyperlink:hover{
    cursor: pointer;
}

.active{
    background-color: #dddddd
}